body{
  margin:0;
  padding:0;
  display: inline;
  font-family:"Chalk";
  font-size: 16px;
  user-select: none;
}
body>div{
  width: 100%;
  box-sizing:border-box;
}
#target{
  position: absolute;
  top: 140px;
}
button{
  font-family: "Chalk";
}
button {cursor: pointer}
img{
  object-fit: cover;
}
.txt {
  font-size: 16px; /* 初期サイズ */
  letter-spacing: 1px;
  font-weight: bold;
  font-style: italic;
}
/*フォント*/
@font-face {
  font-family: "Chalk";
  src: url(./font/Chalk.woff) format("woff");
}
@font-face {
  font-family: "elmer";
  src: url(./font/EOEYEAI.woff) format("woff");
}
@font-face{
  font-family: "kuramubon";
  src: url(./font/Kuramubon.woff) format("woff");
}
@font-face{
  font-family: "mochiy";
  src: url(./font/MochiyPopOne-Regular.woff) format("woff");
}
@font-face{
  font-family: "bananaslip_plus";
  src: url(./font/YDWbananaslipplus.woff) format("woff");
}
@font-face{
  font-family: "yusei";
  src: url(./font/YuseiMagic-Regular.woff) format("woff");
}
/* @font-face{
  font-family: "crayon";
  src: url(./font/crayon_1-1.woff) format("woff");
} */
@font-face{
  font-family: "crayon";
  src: url(./font/misaki_mincho.woff) format("woff");
}


#loading{
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #1db5d7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
#loading p{
  color: #FFF;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 52%;
}
.cp_loading12 {
	width: 80px;
	position: absolute;
	top: 56%;
	right: 43.5%;
	-webkit-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.cp_loading12 .cp_item {
	display: inline-block;
	width: 5px;
	height: 5px;
  border-radius: 50%;
  animation: loading12 1.5s infinite cubic-bezier(.51,.35,.71,.55);
	opacity: 0.3;
}
.cp_loading12 .cp_item:nth-child(1) {
	background: #ffffff;
}
.cp_loading12 .cp_item:nth-child(2) {
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s;
	background: #ffffff;
}
.cp_loading12 .cp_item:nth-child(3) {
	-webkit-animation-delay: 0.4s;
	        animation-delay: 0.4s;
	background: #ffffff;
}
@keyframes loading12 {
	0% {
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
	}
	35% {
		-webkit-transform: translateY(0px);
		        transform: translateY(0px);
		opacity: 0.3;
		filter: alpha(opacity=30);
	}
	50% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
		opacity: 0.8;
		filter: alpha(opacity=80);
	}
}
#sikaku{
  background-color: #FFF;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  animation: mawaru 2s infinite linear;
}
@keyframes mawaru{
  0%{ transform:rotate(0);}
  50%{border-radius: 50%;}
  100%{ transform:rotate(360deg); }
}


.header{
  /* background-color:rgb(188, 204, 231); */
  padding:1px;
  width: 100%;
  height:80px;
  background-image: linear-gradient(#94d6e3b7 1.6px, transparent 1.6px),
  linear-gradient(to right,#47494e82 1.6px, #cacaca8e 1.6px);
  filter:drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
  background-size: 32px 32px;
  position: relative;
  position:fixed;
  display: flex;
  align-items: center;
  z-index: 100;
}

.headerbutton{
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);/*真ん中*/
}
.my-parts {
  background-color: #F6F6F6;
  border-radius: 6px;
  color: #333;
  letter-spacing: 1px;
  line-height: 30px;
  font-family:'kuramubon';
  font-size: 20px;
  margin: 0 13px;
  padding: 1px 3px;
  height: 30px;
  text-decoration: none;
  filter: drop-shadow(2px 2px #333);
  transition: 0.3s;
}
.my-parts span{
  color: #1db5d7;
}
#hatena{
  background-color: #fff;
  border: transparent;
  border-radius: 5px;
  font-size: 16px;
  height: 35px;
  width: 80px;
  filter: drop-shadow(2px 2px #333);
  transition: 0.3s;
}
#hatena:hover{
  color: #007bff;
  transform: scale(1.1,1.1);
}
.tango{
  color: #31a9e4;
  font-weight: bold
}
.btnstyle{
  background-color: #fff;
  border: 1px solid #1db5d7;
  border-radius: 5px;
  font-family:"bananaslip_plus";
  font-size: 17px;
  color: #1c518d;
  width: 110px;
  height: 45px;
  margin: 0px 5px;
  -webkit-transition: all .3s;
  transition: box-shadow .3s; 
  transition: all .3s;
}
.btnstyle:hover{
  background-color: #1db5d7;
  color: white;
  transform: scale(1.1,1.1);
}
.btnstyle:active{
  background-color: #1691ad;
}
#tenseibtn{
  border-color: #d71d7d;
}
#tenseibtn:hover{
  background-color: #d71d7d;
  color: white;
}
#tenseibtn:active{
  background-color: #ad165c;
}
.slidemoji {
  background-color: rgba(0, 0, 0, 0.301);
  letter-spacing: 1px;
  line-height: 23px;
  height: 23px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 83px;
  box-shadow: 1px 1px 6px #676767;
  z-index: 100;
}
.slidemoji ul {
  user-select: none;
  display: inline-block;
  margin: 0;
  padding-left: 100%;
  white-space: nowrap;
  animation: SlideSample 50s linear infinite;
}
.slidemoji ul li {
  display: inline;
  margin: 0 80px 0 0;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 5px; /*文字の間隔*/
  text-shadow: 0 0 1px; /*文字のぼかし*/
}
.slidemoji ul .textao {
  color: #b0eaf7;
}
/* スクロールさせるアニメーション */
@keyframes SlideSample {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%)
    }
}

.scrollbtn{
  background-color: transparent;
  color: #292929;
  text-decoration: none;
  text-align: center;
  font-size: 35px;
  line-height: 50px;
  display: flex;
  padding: 0 5px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  filter: drop-shadow(0 0 8px #9f9f9f);
  z-index: 9999;
}
#slicon{
  width: 55px;
  height: 55px;
}
#scrollIcon {
  display: inline-block; /* transform を効かせるために必要 */
  transition: transform 0.3s ease;
  margin: 0px;
  position: relative;
  right: 10px;
  bottom: -10px;
}
.rotate-up {
  transform: rotate(0deg);
}
.rotate-down {
  transform: rotate(180deg);
}

.tap{
  background-color: #F6F6F6;
  background-size: 20px 20px;
  background-image:
  radial-gradient(#bcbcbc 1px, transparent 1px);
  height: 300px;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  text-align: center;
  place-content: center;
}
#counts{
  display: flex;
  gap: 10px;/*空白*/
  position: fixed;
  top: 83px;
  z-index: 99;
}
.counterr{
  background-color: #FFF;
  /* border: solid 1.5px #184c88;
  box-shadow: 5px 5px #184c88; */
  border-radius: 0px 0px 5px 5px;
  color: #000;
  letter-spacing: 2.5px;
  text-align: left;
  line-height: 35px;
  vertical-align: middle;
  display: inline-block;
  font-size: 25px;
  height: 35px;
  padding: 3px 5px;
}
#countsakana{
  left: 10px;
  margin-left: 3px;
}
#countlv{
  left: 180px;
}
#koukann{
  background-color: #333;
  color: #FFF;
  text-align: center;
  border: transparent;
  height: 30px;
  width: 30px;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  bottom: 1px;
  right: 5px;
  transition: 0.3s;
}
#koukann:hover{
  background-color: #007bff;
}


.coun{
  background-color: #333;
  color: white;
  border-radius: 5px;
  display: inline-block; /* 横幅が内容に応じて伸びる */
  padding: 0 3px;        /* 横に余白がつく */
  line-height: 25px;
  white-space: nowrap;   /* 改行禁止、横に伸ばす */
  position: absolute;
  top: 90px;
  left: 70px;
}

#coun{
  left: 50%; /* 親に対して中央配置 */
}
#couns{
  top: 50px;
  left: 20px;
  display: inline-block;
  z-index: 999;
}
#upsakana{
  color: #ffffff;
  font-size: 16px;
  pointer-events: none;
  animation: float-up 0.3s ease-out;
  transform: translate(-50%, -50%);
}
@keyframes float-up {
  from {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
  }
  to {
      opacity: 0;
      transform: translate(-50%, -80%) scale(1.2);
  }
}
#sakana{
  height: 100px;
  transition:0.3s;
  position: relative;
}
#sakana:hover{
  filter: drop-shadow(0 0 8px #9f9f9f);
  transform: scale(1.1,1.1);
}
#sakana:active{
  transform: scale(1.5, 0.75);
}
#sakana img { width: 100%; }
#sakana {cursor: pointer}/*sakanaに乗った時カーソルを変更する*/
.tcicon{
  width: 30px;
  height: 35px;
  position: absolute;
  bottom: 15px;
  transform: rotate(-15deg);
  filter: drop-shadow(0 0 8px #9f9f9f);
  transition: 0.3s;
  animation: ugoku 1s infinite;
}
#tapicon{
  right: 30px;
}
#clickicon{
  right: 15px;
}
@keyframes ugoku {
  0% {
    bottom: 15px;
  }
  50%{
    bottom: 10px;
  }
  100% {
    bottom: 15px;
  }
}
/* スキルエフェクト */
.skill-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 215, 0, 0.8); /* 金色 */
    pointer-events: none;
    animation: skillPop 0.6s ease-out forwards;
}
@keyframes skillPop {
    0% {
        transform: scale(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5) translateY(-40px);
        opacity: 0;
    }
}
.skill2-circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(20, 173, 255, 0.8);
    pointer-events: none;
    animation: skill2Pop 0.8s ease-out forwards;
    z-index: 999;
}
@keyframes skill2Pop {
    0% {
        transform: scale(0.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.4) translateY(-30px);
        opacity: 0;
    }
}




.con1{
  height: 380px;
  width: 100vw;
  margin: 10px 0px;
  padding: 10px 0px;
  position: relative;
  background-color:rgb(250, 255, 185);
  background-image:
  repeating-linear-gradient(-45deg,
#fff29db7, #f9ea8aab 10px,
  transparent 0, transparent 20px);
}
.con2{
  height: 490px;
  width: 100%;
  margin: 10px 0;
  padding: 10px 0px;
  position:relative;
  background-color:rgb(210, 240, 255);
  background-image: linear-gradient(
    transparent 50%,
    rgba(80, 131, 158, 0.114) 50%
  ),
  linear-gradient(90deg, rgba(229, 234, 75, 0.142) 50%, transparent 50%);
  background-size: 30px 30px;
}
.con3{
  height: 350px;
  width: 100%;
  margin: 10px 0px;
  padding: 10px 0px;
  position: relative;
  background-color: rgb(216, 218, 223);
  background-image: radial-gradient(#65deec85 30%, transparent 33%),
  radial-gradient(#ababab81 30%, transparent 33%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
/* .con4{
  height: 380px;
  width: 100%;
  margin: 10px 0;
  padding: 10px 0px;
  position: relative;
	background-image: linear-gradient(0deg, transparent calc(100% - 1px), #d0d0d0 calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #d0d0d0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
} */

.ok{
  background-color: #fff;
  border: solid 1.5px #184c88;
  box-shadow: 5px 5px #184c88;
  color: #0e1c61;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  width: 230px;
  font-size: 20px;
  text-align: center;
  position: fixed;
  right: 25%;
  top: 15%;
  animation: fadeInScale2 0.3s,kieru 0.9s;
  z-index: 99;
}
#o1{
  top: 15%;
  border-left: solid 3px #30f5ff;/*左線*/
}
#o2{
  top: 18%;
  border-left: solid 3px #ff3030;/*左線*/
}
#o3{
  top: 20%;
  border-left: solid 3px #ffcf30;/*左線*/
}
#o9{
  top: 23%;
  border-left: solid 3px #007bff;/*左線*/
}
.o1-style {
  top: 15% !important;
  border-left: solid 3px #30f5ff !important;
}
.o2-style {
  top: 18% !important;
  border-left: solid 3px #ff3030 !important;
}
.o3-style {
  top: 20% !important;
  border-left: solid 3px #ffcf30 !important;
  
}
.o9-style {
  top: 23% !important;
  border-left: solid 3px #007bff !important;
}
@keyframes kieru {
  0%{
    opacity: 100;
  }
  100%{
    opacity: 0;
  }
}

.tab{
  filter:drop-shadow(2px 4px #183c65);
  transform: translateY(-50%) translateX(-50%);/*真ん中*/
  background-color: #FFF;
  color: rgb(0, 0, 0);
  border: solid 2px #1691ad;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  overflow: visible;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  animation: fadeInScale 0.4s ease forwards;
}

.scroll{
  overflow: scroll;
}
#s1{
  width: 475px;
  height: 250px;
}
#s1::-webkit-scrollbar {
  height: 0px;/* スクロールバーの高さ */
  width: 10px;
}
#s1::-webkit-scrollbar-thumb {
  background-color: #1db4d5;
  border-radius: 20px;
}
#s2{
  height: 220px;
  width: 380px;
}
#s2::-webkit-scrollbar {
  height: 0px;/* スクロールバーの高さ */
  width: 10px;
}
#s2::-webkit-scrollbar-thumb {
  background-color: #1db4d5;
  border-radius: 20px;
}
#s3{
  height: 400px;
}
#s4{
  height: 220px;
  width: 380px;
}
#s4::-webkit-scrollbar {
  height: 0px;/* スクロールバーの高さ */
  width: 10px;
}
#s4::-webkit-scrollbar-thumb {
  background-color: #1db4d5;
  border-radius: 20px;
}
#s5{
  height: 340px;
}
@keyframes fadeInScale {/*ふわっと出てくるアニメーション*/
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes fadeInScale2 {/*ふわっと出てくるアニメーション ok*/
  0% {
      opacity: 0;
      transform: scale(0.8);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

#hatenatab{
  border: solid 2px #1db5d7;
  text-align: left;
  width: 500px;
  height: 300px;
  padding: 30px 15px;
}
#hatenatab h4{
  line-height: 25px;
  text-align: center;
  background-color: #edfbff;
}
#hatenatab p{
  margin: 0.5px;
}
#hatenatab img{
  height: 20px;
  width: 20px;
}
details{
  width: 450px;
  margin: 5px 10px;
  line-height: 25px;
  border-radius: 5px;
  background-color: #ffffff;
}
summary{
  background-color: #ffffff;
  border: solid 1px #1db5d7;
  border-radius: 5px;
  height: 25px;
  line-height: 25px;
  position: relative;
  margin: 5px 10px;
  display: block; /* 矢印を消す */
  padding-left: 30px; /* アイコン分の余白 */
  cursor: pointer;
  filter:drop-shadow(2px 2px 4px rgba(188, 188, 188, 0.549));
  user-select: none;
}
summary::-webkit-details-marker{
  display: none; /* 矢印を消す */
}
/* 疑似要素でアイコンを表示 */
summary:before,summary:after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
}
summary:before {
  background-color: #1db5d7;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}
summary:after {
  left: 10px;
  width: 5px;
  height: 5px;
  border: 4px solid transparent;
  border-left: 5px solid #fff;
  box-sizing: border-box;
  transition: .1s;
}
/* オープン時 */
details[open] summary:after {
  transform: rotate(90deg); /* 90度回転 */
  left: 8px;
  top: 5px;
}
details a {
  color: #007bff;
  font-weight: bold;
  padding: 0px 3px;
}
details ul {
  position: relative;
  transform: translateY(-10px);
  opacity: 0;
  margin-top: 20px;
  padding: .8em 1.2em;
  border: 1px solid #1db5d7;
  border-radius: 4px;
  background-color: #fff;
  color: #333333;
  transition: transform .5s, opacity .5s;
}
details[open] ul {
  transform: none;
  opacity: 1;
}
details ul::before,
details ul::after {
  position: absolute;
  top: -19px;
  left: 1.2em;
  width: 25px;
  height: 15px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  content: '';
}
details ul::before {
  background-color: #1db5d7;
}

.yokobtn{
  background-color: #1db4d5;
  color: #FFF;
  border: 1.5px solid #183c65;
  border-radius: 20px 0 0 20px;
  filter:drop-shadow(2px 4px #183c65);
  font-family: "bananaslip_plus";
  font-size: 20px;
  line-height: 25px;
  height: 50px;
  width: 230px;
  margin: 5px 0px;
  position: fixed;
  top: 100px;
  right: 0px;
  transition: 0.3s;
  z-index: 25;
}
.yokobtn:hover{
  background-color: #FFF;
  color: #1db4d5;
}
#tst{
  top: 105px;
}
#jisseki{
  top: 170px;
}
#title{
  white-space: nowrap;
  margin: 3px 5px;
}
.mmm2{
  background-color: #ffffff;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #caf4ff calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #c7f3fe calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  border: 1.5px solid #1db4d5;
  filter:drop-shadow(2px 4px #183c65);
  color: #183c65;
  border-radius:20px 20px 0 20px;
  text-align: center;
  padding: 5px 40px;
  margin: 0%;
  width: 450px;
  height: 230px;
  overflow: visible;
  opacity: 0;
  position: fixed;/*位置*/
  right: 10px;
  top: 250px;
  animation: fadeInScale 0.4s ease forwards;
  z-index: 5;
}
.mmm2 p{
  margin: 5px;
}
.mt2{
  background-color: #FFF;
  color: #183c65;
  width: 350px;
  min-height: 20px;
  text-align:left;
  padding:5px 0;
  border-left: solid 3px #183c65;/*左線*/
  filter: drop-shadow(2px 2px  #183c65);
  transition: 0.3s;
}
/* .mt2:hover{
  filter: drop-shadow(0px 1px 5px #183c65);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
} */

/* 実績 */
.date{
  background-color: #ffffff;
  border: solid 1px #007bff;
  border-radius: 5px 5px 0px 5px;
  display: flex;
  margin: 5px 5px;
  position: relative;
  line-height: 18.5px;
}
.tate{
  text-align: left;
}
.jissekiicon{
  background-color: #ffffff;
  border-radius: 5px;
  border: solid 1.5px #007bff;
  height: 40px;
  width: 40px;
  margin: 18.5px 3px;
  padding: 2px;
}
.jimg{
  height: 40px;
  width: 40px;
}
#namae{
  margin: 0px 0px;
  font-size: 15px;
}
.clear{
  background-color: #ffffff;
  text-align: center;
  color: #007bff;
  font-size: 40px;
  line-height: 30px;
  width: 55px;
  height: 30px;
  position: absolute;
  right:10px;
  bottom: 30px;
  transform: rotate(15deg);
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
  opacity: 0;
}

.tab-2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 3px 5px;
}
.tab-2 > label {
  height: 30px;
  line-height: 30px;
  flex: 1 1;
  order: -1;
  opacity: .5;
  min-width: 70px;
  padding: .6em 1em;
  border-radius: 5px 5px 0 0;
  background-color: #41c0d7;
  color: #ffffff;
  font-size: .9em;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.tab-2 > label:hover {
  opacity: .8;
}
.tab-2 > div {
  background-color: #ffffff;
  border-radius: 20px;
  display: none;
  width: 100%;
  height: 410px;
  margin: 10px 5px;
}
.tab-2 label:has(:checked) {
  opacity: 1;
}
.tab-2 label:has(:checked) + div {
  display: block;
}
input[type=radio] {
  display: none; /* ラジオボタンを非表示にする */
}
#scon{
  width: 320px;
  height: 410px;
  z-index: 27;
}
.settei p{
  line-height: 16px;
}
#dbtn{
  color: #000000;
  display: inline-block;
  font-family:"Chalk";
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: bold;
  width: 170px;
}
.marker{
  background: linear-gradient(transparent 50%, #0aa2de7a 50%);
}
#dbtn img{
  width: 21px;
  height: 21px;
  margin: 0px 0px;
  filter: brightness(0) saturate(100%) invert(68%) sepia(65%) saturate(3424%) hue-rotate(167deg)
   brightness(98%) contrast(89%);
}
#dbtn i{
  color: #2eb1ed;
}
.setteibtn{
  background-color: #ffffff;
  border: #cdcdcd 1.5px solid;
  color: #1d9cd7;
  border-radius: 5px;
  font-family: "Chalk";
  height: 35px;
  font-size: 15px;
  margin: 3px;
  transition: 0.3s;
  filter: drop-shadow(2px 2px 4px #cdcdcd);
}
.setteibtn:hover{
  background-color: #1db5d7;
  color: #ffffff;
}
.setteibtn:focus{
  border-color: #1db5d7;
  box-shadow: 0 0 5px rgb(0, 213, 255);
}
#fontkaeru{
  background-color: transparent;
  border: solid 1.5px #cdcdcd;
  overflow: scroll;
  width: 250px;
  height: 150px;
  margin: 0px 25px;
}
/*スクロールバーのデザイン*/
#fontkaeru::-webkit-scrollbar {
  height: 0px;/* スクロールバーの高さ */
  width: 10px;
}
#fontkaeru::-webkit-scrollbar-thumb {
  background-color: #1db4d5;
  border-radius: 20px;
}
.fontbtn{
  background-color: #FFF;
  border: solid 1.5px #cdcdcd;
  border-radius: 5px;
  writing-mode: horizontal-tb;
  width: 200px;
  font-size: 16px;
  line-height: 25px;
  margin: 5px;
  transition: 0.3s;
}
.fontbtn:hover{
  background-color: #1db5d7;
  color: #ffffff;
}
.fontbtn:focus{
  border-color: #1db5d7;
  box-shadow: 0 0 5px rgb(0, 213, 255);
}
#f2{
  font-family:'comic sans MS';
}
#f3{
  font-family:'elmer';
}
#f4{
  font-family:'kuramubon';
}
#f5{
  font-family:'mochiy';
}
#f6{
  font-family:'bananaslip_plus';
}
#f7{
  font-family:'yusei';
}
#f8{
  font-family:'crayon';
}
.onryou{
  min-width: 150px;
  display: flex;
  padding: 5px;
  margin: 0px 80px;
  text-align: center;
}
.onryou i{
  color: #5c5c5c;
}
.hint{
  color: #aaaaaa;
}
hr{
  border-top: 2px dotted #41c0d7;
}
#kiroku{
  width: 500px;
  height: 300px;
}
#dkiroku{
  display: flex;
}
.d{
  /* background-color: #183c65; */
  padding: 5px;
  margin: 10px 10px;
}
#d1{
  position: relative;
  width: 300px;
  height: 270px;
}
#d1 p{
  margin: 3px auto;
}
#catcount{
  background: linear-gradient(transparent 50%, #0aa2de7a 50%);
  color: #333;
  padding: 5px;
}
.catimage{
  width: 30px;
  height: 30px;
}
#catimg1{
  position: relative;
  left: -15px;
  bottom: -15px;
  transform:rotate(-15deg); 
}
#data{
  background-color: transparent;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  z-index: 50;
}
#data:hover{
  filter: drop-shadow(0 0 8px #9f9f9f);
}
#nekotapicon{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 51;
}
#cathyouji{
  font-size: 16px;
}
#catreset{
  border: solid #9f9f9f;
  width: 130px;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: 40px;
}
#datasakujo{
  color: #3b3b3b;
  width: 130px;
  height: 30px;
  position: absolute;
  right: 0px;
  bottom: 1px;
}
#datasakujo:hover{
  background-color: #000;
  color: #c4c4c4;
}
#d2{
  /* background-color: #1db5d7; */
  border-left: solid 1.5px #acacac;
  text-align: left;
  margin-left:0px;
  width: 150px;
  height: 270px;
  overflow: scroll;
}
#d2::-webkit-scrollbar {
  height: 0px;/* スクロールバーの高さ */
  width: 10px;
}
#d2::-webkit-scrollbar-thumb {
  background-color: #1db4d5;
  border-radius: 20px;
}
#sakujogamen{
  position: fixed;
  width: 340px;
  height: 340px;
}
.sakujo{
  margin-top: 90px;
  background-color: #efefef;
  border: 1px solid #1db5d7;
  font-family:"bananaslip_plus";
  font-size: 17px;
  color: #1db5d7;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  transition: 0.3s;
}
.sakujo:hover{
  transform: scale(1.1,1.1);
}
#sakujokakutei{
  background-color: #000;
  color: #c4c4c4;
}
#eee{
  margin: 30px 5px;
  display: flex;
}
#eee img{
  margin-left: 10px;
  height: 80px;
}
#eee .bbb{
  margin-top: 20px;
  margin-left: 120px;
  height: 50px;
  line-height: 50px;
}

#tenseitab{
  width: 450px;
  height: 350px;
  border-color: #ad165c;
  z-index: 26;
}
#tenseikakunin{
  position: fixed;
  width: 340px;
  height: 340px;
  z-index: 30;
}
#tenseikakutei{
  background-color: #d71d7d;
  border: 1px solid #d71d7d;
  color: #ffffff;
}
#x5{
  border-color: #ad165c;
  color: #991351;
}
#tnsipoint{
  background-color: #FFF;
  border: solid 1.5px #d71d7d;
  border-radius: 5px;
  margin: 5px 0;
  padding: 1.5px 3px;
  display: inline-block;
  margin-right: 200px;
}
#lost{
  border: solid 1.5px #d71d7d;
  border-radius: 5px;
  width: 200px;
  height: 70px;
  margin: 15px 13%;
  padding: 15px 50px;
  list-style: circle;
  text-align: center;
}
#tenseiok{
  background-color: #d71d7d;
  color: #FFF;
  border: solid 1.5px #fff;
}
#tenseiok :active{
  background-color: #FFF;
  color: #d71d7d;
}
#skill{
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  padding: 5px;
}
.skilldate{
  background-color: #ffffff;
  border: solid 1px #d71d7d;
  border-radius: 5px 5px 0px 5px;
  line-height: 18.5px;
  width: 175px;
  margin: 5px 5px;
  padding: 5px;
  position: relative;
}
.skillbtn {
  background-color: #fff;
  border: 1.5px solid #d71d7d;
  border-radius: 20px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 80px;
  height: 35px;
  overflow: hidden;
  position: relative;
  transition: color 0.3s ease;
  z-index: 1;
}
.skillbtn:hover{
  color: #fff;
}
.skillbtn:hover::before {
  transform: scaleY(1);
}
.skillbtn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #d71d7d;
  transform: scaleY(0);
  transition: all 0.3s ease;
  transition-property: transform;
  z-index: -1;
}
.kakutoku{
  background-color: #ffffff;
  text-align: center;
  color: #e05661;
  line-height: 35px;
  font-size: 14px;
  width: 60px;
  height: 38px;
  position: absolute;
  right:0px;
  top: -5px;
  transition: 0.3s;
  transform: rotate(15deg);
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
}
#koukancount{
  border: solid 1px #1db5d7;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  line-height: 40px;
  margin: 15px 180px;
}
#koukantab{
  height: 290px;
  width: 430px;
}
.koukanbtn{
  background-color: #FFF;
  border: solid 2px #1db5d7;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  margin: 3px;
  transition: 0.3s;
}
.koukanbtn:hover{
  background-color: #1db5d7;
  color: #FFF;
}
.koukanbtn:active{
  transform: scale(1.1,1.1);
}
#koukanminus{
  background-color: #ffffff;
  border: solid 1.5px #d71d20;
}
#koukanminus:hover{
  color: #FFF;
  background-color: #d71d20;
}
#koukanmten{
  background-color: #ffffff;
  border: solid 1.5px #d71d20;
}
#koukanmten:hover{
  color: #FFF;
  background-color: #d71d20;
}
#koukankakutei{
  background-color: #1db5d7;
  color: #FFF;
  width: 80px;
}
#koukankakutei:hover{
  transform: scale(1.1,1.1);
}
.tab-3 {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin: 3px 5px;
}
.tab-3 > label {
  height: 30px;
  line-height: 30px;
  flex: 1 1;
  order: -1;
  opacity: .5;
  min-width: 70px;
  padding: .6em 1em;
  border-radius: 5px 5px 0 0;
  background-color: #d71d7d;
  color: #ffffff;
  font-size: .9em;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.tab-3 > label:hover {
  opacity: .8;
}
.tab-3 > div {
  background-color: #ffffff;
  border-radius: 20px;
  display: none;
  width: 100%;
  height: 280px;
  margin: 10px 5px;
}
.tab-3 label:has(:checked) {
  opacity: 1;
}
.tab-3 label:has(:checked) + div {
  display: block;
}

#kekka{
  height: 260px;
  width: 230px;
  text-align: center;         /* 水平方向 */
  z-index: 19;
}
#gazou img{
  min-width: 100px;
  height: 100px;
}
#kuji img{
  background-color: transparent;
  min-width: 50px;
  height: 130px;
  transform:rotate(15deg); 
}
.shopname{
  font-family:'kuramubon';
  color: #333;
  border-radius: 25px;
  font-size: 25px;
  height: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  width:25%;
  text-align: center;
  margin: 5px;
}
.shopname span{
  color: #1db5d7;
}
#komoji{
  color: #575757;
  font-size: 13px;
}
#Ishop{
  background: #f3f8fdcc;/*背景色*/
  border: #9ccdff solid;
  box-shadow: 0px 4px #3ea0a0;
}
#catshop{
  background: #f7fffba1;/*背景色*/
  border: #ffdc52 solid;
  box-shadow: 0px 4px #439fa2;
}
#urashop{
  background: #f7fffba1;/*背景色*/
  border: #9428e2 solid;
  box-shadow: 0px 4px #448b8e;
}

#oyatuclass{
  display: flex;
  margin: 10px;
}
.oyatubox{
  margin: 0px 23%;
  position: relative;
}
#oyatuclass2{
  background-color: rgba(255, 255, 255, 0.575);
  display: flex;
  width: 620px;
  height: 400px;
  padding: 5px 5px;
  overflow-x: scroll;
}
#oyatuclass2 div{
  flex-shrink: 0;
}
#oyatuclass2::-webkit-scrollbar {
  height: 10px;/* スクロールバーの高さ */
  width: 10px;
}
#oyatuclass2::-webkit-scrollbar-thumb {
  background-color: #1db4d5;
  border-radius: 20px;
}
.oyatudiv{
  background: white;
  border: solid 1.5px rgb(34, 45, 104);
  min-width: 130px;
  min-height: 350px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 5px 5px;
  box-shadow: 3px 3px 0px 0 rgb(34, 45, 104);
  transition: 0.3s;
}
.oyatudiv:hover{
  transform: scale(.95);
}
.oyatudiv img { width: 100%; }

.oyatukau{
  /* background-color: #184c88; */
  width: 65px;
  margin: 0;
  padding: 5px 5px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  left: -80px;
  bottom: 20px;
}
.oyatukau button{
  background-color: #FFF;
  border-radius: 5px;
  margin: 1.5px 0px;
  text-align: center;
  line-height: 30px;
  width: 60px;
  height: 30px;
}
#kau{
  background-color: #FFF;
  border: transparent;
}
.pm{
  border: solid 1.5px #1db5d7;
  transition: 0.3s;
}
.pm:hover{
  color: #FFF;
  background-color: #1db5d7;
}
.pm:active{
  transform: scale(1.1,1.1);
}
#minus{
  background-color: #ffffff;
  border: solid 1.5px #d71d20;
}
#minus:hover{
  color: #FFF;
  background-color: #d71d20;
}
#minus10{
  background-color: #ffffff;
  border: solid 1.5px #d71d20;
}
#minus10:hover{
  color: #FFF;
  background-color: #d71d20;
}

.oyatu{
  position: relative;
  background: transparent;
  border: transparent;
  width: 120px;
  height: 120px;
}
.oyatu img { width: 100%; }
.sale{
  background-color: #ff0000;
  color: #FFF;
  font-family: "Mochiy";
  font-size: 15px;
  line-height: 70px;
  text-align: center;
  width: 70px;
  height: 70px;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-thickness: 1.5px;
  border-radius: 40px;
  position: absolute;
  left: 60px;
  bottom: -5px;
  opacity: 0;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
  transition: 0.3s;
}

#I2tt{
  background-color: #fafafa;
  font-family: "yusei";
  text-align: center;
  line-height:60px;
  margin: 3px 1px;
  width: 100px;
  height: 60px;
  text-decoration: underline;
  text-decoration-color: #ff0000;
  text-decoration-thickness: 4px;
  position: relative;
  opacity: 0;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
  transition: 0.3s;
}
#I2tt::after {
  position: absolute; /* 絶対位置指定 */
  content: ''; /* 擬似要素にコンテンツを表示しない */
  right: 0px; /* 右端に配置 */
  top: 0px; /* 上端に配置 */
  border-width: 0 15px 15px 0; /* めくれた部分の形状 */
  border-style: solid; /* 線の種類 */
  border-color: #ccc #fff #ccc; /* 線の色 */
  box-shadow: -1px 1px 1px rgb(0 0 0 / .15); /* めくれた部分に影をつける */
}
#timerdisplay{
  background-color: #fafafa;
  color: #000;
  font-family: "yusei";
  text-align: center;
  line-height:25px;
  height: 50px;
  width: 100px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
}
#nekonote{
  position: absolute;
  right: 0px;
  bottom: -2px;
  width: 30px;
  height: 30px;
}

#itemshop{
  display: flex;
  margin: 10px;
}
.Itembox{
  margin: 0px 23%;
  position:relative;
}
.Itemcontents{
  background-color: rgba(255, 255, 255, 0.575);
  display: flex;
  width: 620px;
  height: 290px;
  padding: 5px 5px;
  overflow-x: scroll;
}
.Itemcontents div{
  flex-shrink: 0;
}
.Itemcontents::-webkit-scrollbar {
  height: 10px;/* スクロールバーの高さ */
  width: 10px;
}
.Itemcontents::-webkit-scrollbar-thumb {
  background-color: #1db4d5;
  border-radius: 20px;
}
.Itemphoto{
  min-width: 60px;
  height: 75px;
}
.Itemphoto img { width: 100%; }
#photo1{
  background-color: transparent;
  color: #ffffff;
  -webkit-text-stroke: 3px #a9c0d1;
  paint-order: stroke;
  font-family: "elmer";
  font-style: italic;
  font-size: 25px;
  position: absolute;
  left: 18px;
  top: 13%;
}
#photo2{
  background-color: transparent;
  color: #ffffff;
  -webkit-text-stroke: 3px #a9c0d1;
  paint-order: stroke;
  font-family: "elmer";
  font-style: italic;
  font-size: 25px;
  position: absolute;
  left: 25px;
  top: 13%;
}

.Itm{
  position: relative; /* ツールチップの位置の基準に */
  cursor: pointer; /* カーソルを当てたときにポインターに */
  text-align: center;
  background-color: white;
  border: solid 1.5px rgb(34, 45, 104);
  min-width: 130px;
  min-height: 280px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin: 5px 5px;
  box-shadow: 3px 3px 0px 0 rgb(34, 45, 104);
  transition: 0.3s;
}
.Itm:hover{
  transform: scale(.95);
}
.setumei{
  background-color: #1db5d7;
  color: #FFF;
  font-family: "Chalk";
  height: 100px;
  border-radius: 10px 0 0 10px;
  writing-mode: vertical-rl;
  padding-right: 20px;
  padding-top: 5px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
  z-index: 1;
}
/* ツールチップのテキスト */
.tooltip-text {
  background-color: #fafafa;
  color: #000000; /* 文字色 */
  font-size: 16px; /* フォントサイズ */
  border-radius: 0 5px 5px 5px; /* 角丸 */
  position: absolute;
  width: 250px;
  height: 120px;
  line-height:20px;
  margin: 3px 0;
  margin-top: 0;
  margin-left: 25px;
  display: inline-block;
  padding: 5px; /* 余白 */
  font-family: "yusei";
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
  z-index: 10;
}

.Itembtn{
  background-color: #455798;
  box-shadow: 3px 3px 0px 0 rgb(34, 45, 104);
  border: solid 1.5px rgb(255, 255, 255);
  border-radius: 20px;
  color: white;
  font-size: 14px;
  height:35px;
  width: 80px;
  /* margin: 30px 0px; */
  transition: 0.3s;
}
.Itembtn:hover{
  background-color: white;
  color: #455798;
  border: solid 1.5px #455798;
  border-radius: 0px;
  transition: 0.3s;
}

.Itemm{
  text-align: center;
  letter-spacing: 1px;
  margin: 0px 5px;
}

#ushop{
  display: flex;
  margin: 10px;
}
.urabox{
  margin: 0px 23%;
}
#uuushop{
  background-color: rgba(255, 255, 255, 0.575);
  display: flex;
  width: 620px;
  height: 255px;
  padding: 5px 5px;
  overflow-x: scroll;
}
#uuushop::-webkit-scrollbar {
  height: 10px;/* スクロールバーの高さ */
  width: 10px;
}
#uuushop::-webkit-scrollbar-thumb {
  background-color: #1db4d5;
  border-radius: 20px;
}
.UUU{
  background-color: white;
  border: solid 1.5px rgb(34, 45, 104);
  height: 240px;
  min-width: 160px;
  max-width: 400px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 25px;
  margin: 5px 5px;
  box-shadow: 3px 3px 0px 0 rgb(34, 45, 104);
  transition: 0.3s;
}
.UUU:hover{
  transform: scale(.95);
}
.up{
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.3s;
}
.nee{
  line-height: 1px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-color: #ff0000;
  text-decoration-thickness: 2px;
  transition: 0.3s;
}
.line{
  line-height: 1px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-color: #455798;
  text-decoration-style: dashed; /* 波線 */
  text-decoration-thickness: 2px;
  transition: 0.3s;
}
.wavy{
  text-decoration: underline wavy #e05661;
  text-underline-offset: 2px;
}
.text{
  background-color: white;
  border: 1.5px solid #455798;
  border-radius:20px;
  color: #000000;
  font-size: 14px;
  position: relative;
  height: 35px;
  width: 80px;
  overflow: hidden;
  z-index: 1;
}
.text::after{
  background-color: #455798;
  color: #F6F6F6;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}
.text:hover {
  color: #fff;
}
.text:hover::after {
  transform: scale(1, 1);
}

.bbb{
  background: repeating-linear-gradient(45deg, #aae8f267 0 3px, #fff 3px 8px);
  border: solid 1.5px #333;
  color: black;
  font-family: "bananaslip_plus";
  min-width: 100px;
  max-width: 230px;
  min-height: 50px;
  max-height: 150px;
  padding: 0px;
  position: absolute;
  display: inline-block;
  margin: 20px;
  font-size: 20px;
  box-sizing: border-box;
  transition: all 0.3s;
  z-index: 7;
}
.bbb p{
  margin: 0px;
}
.bbb:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 10px solid transparent;
  border-right: 12px solid #555;
  z-index: 2;
}
.bbb:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}
.bbb:hover{
  transition: all 0.3s;
}

#btn:hover{
  box-shadow: 5px 5px #f9a5a5;
}
#btn2:hover{
  box-shadow: 5px 5px #b7ddd0;
}
#btn3:hover{
  box-shadow: 5px 5px #4bc7d0;
}

#usagi{
  height: 100px;
}
#usagi img { width: 100%; }
#cat{
  height: 100px;
}
#cat img { width: 100%; }
#usagi2{
  height: 100px;
}
#usagi2 img { width: 100%; }

.xbutton{
  background-color: rgba(255, 255, 255, 0.85);
  border: solid #257d8c;
  color: #257d8c;
  border-radius: 5px;
  font-size: 15px;
  height: 30px;
  width: 30px;
  position: absolute;
  top:-5px;
  right:-5px;
  transition: 0.3s; /* アニメーション設定 */
  z-index: 30;
}
.xbutton:hover { 
  transform: scale(1.1,1.1);
}
.fade-out {
  animation: fadeanime 0.3s ease;
}
@keyframes fadeanime {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="text"]:focus {
  border-color: #1db5d7;
  box-shadow: 0 0 5px rgba(0, 213, 255, 0.304);
  outline: none;
}

/* Safari専用調整 */
.safari .headerbutton {
  top: 6%;   /* 微調整 */
  transform: translate(-50%, -50%);
}
.safari .yokobtn {
  width: 140px;
}



@media (prefers-color-scheme: dark) {
  /* このなかにダークモード時のスタイルを記述します */
  body {
    background-color: #000;
  }
  .btnstyle{
    background-color: #343434;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  .btnstyle:hover{
    background-color: #d7cb1d;
    color: white;
    transform: scale(1.1,1.1);
  }
  .btnstyle:active{
    background-color: #ad9416;
  }
  #datasakujo{
    color: #fff;
  }
  .tap{
    background-color: #787878;
    background-image:
    radial-gradient(#ffffff 1px, transparent 1px);
  }
  #sakana:hover{
    filter: drop-shadow(0 0 8px #AAD6EC);
    transform: scale(1.1,1.1);
  }
  .yokobtn{
    background-color: #273f5c;
    color: #FFF;
    border: 1.5px solid #ffffff;
    filter:drop-shadow(2px 4px #d6dde4);
  }
  .yokobtn:hover{
    background-color: #FFF;
    color: #273f5c;
  }
  #title{
    color: #183c65;
  }
  .mmm2{
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #c0c0c0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #c0c0c0 calc(100% - 1px));
    background-color: #FFF;
    border: 1.5px solid #d6dde4;
    filter:drop-shadow(2px 4px #183c65);
    color: #ffffff;
  }
  .mt2{
    background-color: #FFF;
    color: #183c65;
  }
  .date{
    background-color: #FFF;
    color: #183c65;
  }
}

@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .cp_loading12 {
    width: 80px;
    position: absolute;
    top: 54.5%;
    right: 36%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .headerbutton{
    position: fixed;
    left: 65%;
    display: flex;
    text-align: center;
  }
  #countlv{
    left: 23%;
  }
  
  .ok{
    height: 30px;
    width: 230px;
    font-size: 20px;
    text-align: center;
    position: fixed;
    right: 5%;
    top: 15%;
    z-index: 20;
  }
  #o1{
    top: 10%;
    border-left: solid 3px #30f5ff;/*左線*/
  }
  #o2{
    top: 15%;
    border-left: solid 3px #ff3030;/*左線*/
  }
  #o3{
    top: 20%;
    border-left: solid 3px #ffcf30;/*左線*/
  }

  .tab{
    width: 50%;
    height: 33%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
  }

  .shopname{
    border-radius: 25px;
    font-size: 25px;
    width:50%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }
  .oyatukau{
    position: absolute;
    left: -80px;
    bottom: 20px;
  }
  #I2tt{
    line-height:80px;
    margin: 3px 1px;
    width: 100px;
    height: 80px;
  }
  #timerdisplay{
    line-height:25px;
    height: 50px;
    width: 100px;
  }
  #oyatuclass2{
    display: flex;
    width: 440px;
    height: 400px;
    padding: 5px 5px;
    overflow-x: scroll;/* 横スクロール */
  }
  .Itemcontents{
    display: flex;
    width: 440px;
    height: 302px;
    overflow-x: scroll;
  }
  #uuushop{
    display: flex;
    width: 440px;
    height: 270px;
    overflow-x: scroll;/*横スクロール*/
  }
}

@media screen and (width: 1024px) {
	/* 1024pxに適用されるCSS（ipadPro用） */
  .cp_loading12 {
    width: 80px;
    position: absolute;
    top: 53.5%;
    right: 40%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .oyatukau{
    position: absolute;
    left: -80px;
    bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */

  body{
    margin:0;
    padding:0;
    display: inline;
    font-family:"Chalk";
    font-size: 16px;
    /* padding-top: 80px;
    padding-bottom: 80px; */
  }
  #target{
    position: absolute;
    top: 140px;
    left: 40%;
  }
  .txt{
    font-size: 16px; /* 初期サイズ */
  }
  .cp_loading12 {
    width: 80px;
    position: absolute;
    top: 56%;
    right: 20%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .headerbutton{
    position: fixed;
    left: 70%;
    display: flex;
    text-align: center;
  }
  .my-parts {
    color: #333;
    font-size: 15px;
    line-height: 20px;
    width: 85px;
    height: 40px;
    margin: 0 10px;
  }
  .btnstyle{
    border-radius: 5px;
    font-size: 16px;
    width: 60px;
    height: 45px;
    margin: 2px;
  }
  .tap{
    width: 115%;
  }
  .con1{
    width: 115%;
  }
  .con2{
    width: 115%;
  }
  .con3{
    width: 115%;
  }
  .shopname{
    border-radius: 25px;
    font-size: 20px;
    width:60%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    margin: 5px;
  }
  .counterr{
    min-height:30px;
    position: relative;
    left: 10px;
    position: fixed;
    margin: 25px 0px;
    padding: 0px 5px;
    z-index: 100;
    font-size: 20px;
  }
  #counts{
    gap: 40px; /* 要素間の余白 */
    position: fixed;
    top: 100%;
    z-index: 100;
  }
  #countsakana{
    left: 3px;
  }
  #countlv{
    left: 6px;
    top: 150px;
    border-radius: 5px;
  }
  #couns{
    position: relative;
    top: 40px;/*親要素下からの位置 */
    height: 25px;
  }
  #koukann{
    height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    bottom: -25px;
    right: 5px;
  }
  #koukantab{
    height: 280px;
    width: 250px;
  }
  #koukancount{
    height: 40px;
    width: 80px;
    line-height: 40px;
    margin: 5px 87.5px;
  }
  .koukanbtn{
    height: 40px;
    width: 40px;
    margin: 3px;
  }

  #kiroku{
    width: 350px;
    height: 200px;
    font-size: 16px;
  }
  #d1{
    width: 180px;
    height: 170px;
  }
  #d2{
    text-align: left;
    width: 200px;
    height: 150px;
    margin-left: 5px;
    overflow: scroll;
  }
  #catreset{
    width: 80px;
    height: 30px;
    font-size: 13px;
    position: absolute;
    right: 0px;
    bottom: 40px;
  }
  #cathyouji{
    font-size: 13px;
  }
  #datasakujo{
    width: 80px;
    height: 30px;
    font-size: 13px;
  }
  #sakujogamen{
    position: fixed;
    width: 300px;
    height: 240px;
  }
  .sakujo{
    margin-top: 30px;
  }
  #eee{
    margin: 10px 5px;
    display: flex;
  }
  #eee img{
    margin-left: 10px;
    height: 80px;
  }
  #eee .bbb{
    margin-top: 20px;
    margin-left: 40px;
    height: 50px;
    line-height: 25px;
  }
  /*三角を横に*/
  #eee .bbb:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -12px;
    border: 10px solid transparent;
    border-right: 14px solid #555;
    z-index: 2;
  }
  #eee .bbb:after {
    display: none;
  }
  #scon{
    width: 250px;
    height: 330px;
    z-index: 110;
  }
  #fontkaeru{
    width: 200px;
    height: 150px;
    margin: 0px 15px;
  }
  .fontbtn{
    width: 180px;
    margin: 5px;
  }
  .onryou{
    margin: 0 25px;
  }

  .tab{
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 110;
  }
  #s1{
    height: 250px;
  }
  #s2{
    height: 240px;
    width: 230px;
  }
  #s3{
    height: 320px;
  }
  #s5{
    width: 245px;
    height: 345px;
  }
  #tenseitab{
    width: 250px;
    height: 350px;
    z-index: 109;
  }
  #lost{
    width: 75px;
    height: 100px;
  }
  #skill{
    width: 200px;
  }
  #tnsipoint{
    width: 120px;
  }
  #tenseiok{
    width: 100px;
  }
  #hatena{
    font-size: 14px;
    height: 40px;
    width: 45px;
  }
  #hatenatab{
    width: 350px;
    height: 300px;
    padding: 30px 5px;
    z-index: 100;
  }
  #hatenatab h4{
    width: 335px;
  }
  summary{
    width: 270px;
  }
  details{
    width: 320px;
  }
  .yokobtn{
    font-size: 16px;
    height: 50px;
    width: 80px;
    margin: 5px 0px;
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 25;
  }
  #tst{
    top: 100px;
  }
  #title{
    white-space: nowrap;
    margin: 3px 50px;
    text-align: center;
    width: 100px;
  }
  .mmm2{
    width: 280px;
    height: 250px;
    z-index: 10;
  }
  .mt2{
    width: 200px;
    min-height: 20px;
    font-size: 15px;
    text-align:left;
    padding:5px 0;
    margin:5px;
  }
  .date{
    margin: 5px 5px;
    font-size: 14px;
    width: 200px;
  }
  .jissekiicon{
    height: 30px;
    width: 30px;
  }
  .jimg{
    height: 30px;
    width: 30px;
  }

  .xbutton{
    height:30px;
    width: 30px;
    font-size: 15px;
  }

  .ok{
    height: 25px;
    width: 170px;
    font-size: 18px;
    text-align: center;
    position: fixed;
    right: 2%;
    top: 10%;
    z-index: 99;
  }

  .bbb{
    min-width: 100px;
    max-width: 230px;
    min-height: 50px;
    max-height: 150px;
    position: relative;
    display: inline-block;
    font-size: 18px;
    box-sizing: border-box;
  }
  /*吹き出しの三角を上にする*/
  .bbb:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-bottom: 12px solid #333;
    z-index: 2;
  }
  .bbb:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-bottom: 14px solid #555;
    z-index: 1;
  }

  .Itembox{
    margin: 0px 10%;
  }
  .Itemcontents{
    display: flex;
    width: 220px;
    height: 280px;
    overflow-x: scroll;/*横スクロール*/
  }
  #btn2{
    margin: 20px;
    margin-bottom: 0px;
  }
  .setumei{
    height: 80px;
    padding-right: 20px;
    padding-top: 5px;
  }
  /* ツールチップのテキスト */
  .tooltip-text {
    font-size: 16px; /* フォントサイズ */
    width: 120px;
    height: 90px;
    line-height:20px;
    margin: 0px 20px;
    display: inline-block;
    padding: 5px; /* 余白 */
    z-index: 1;
  }
  .oyatubox{
    margin: 0px 10%;
  }
  #oyatuclass2{
    display: flex;
    width: 220px;
    height: 380px;
    overflow-x: scroll;/* 横スクロール */
  }
  .oyatudiv{
    min-width: 130px;
    max-width: 600px;
    height: 370px;
    text-align: center;
    font-size: 16px;
  }
  .oyatukau{
    position: absolute;
    left: -80px;
    bottom: 10px;
  }
  .oyatukau button{
    border-radius: 5px;
    padding: 0;
    margin: 1.5px 0px;
    text-align: center;
    font-size: 15px;
    width: 55px;
    height: 35px;
  }
  .urabox{
    margin: 0px 10%;
  }
  #uuushop{
    display: flex;
    width: 220px;
    height: 230px;
    overflow-x: scroll;/*横スクロール*/
  }
}